.contact-section{
    margin-top: 10%;
}

#map-box .item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 20px;
}

#contact-form{
    /* background-color: rgb(247, 239, 239); */
    background-color: #F8FAFC;


}

#contact-form .contact-heading{
    padding: 20px;
     color:#f35525;
    font-size:15px;
    margin-bottom:10px;
} 

#contact-form h2{
    margin-bottom: 25px;
}

.contact-button{
    background: #f35525;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
}
.contact-button:hover{
    background: #1e1e1e;
        transition: 0.3s;
}